@font-face {
  font-family: "pingFangSC-Medium";
  src: url("../assets/font/苹方黑体-准-简.ttf");
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
  font-family: "pingFangSC-Medium", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#wrap {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.homepage {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.display {
  z-index: 1;
}
.hide {
  z-index: 0;
}

.main {
  flex: 1;
  position: relative;
}

.home {
  position: absolute;
  background-color: rgb(237, 237, 237);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}

.list-item {
  height: 60px;
  display: flex;
}
.list-item img {
  width: 40px;
  margin: 0 10px;
  border-radius: 3px;
  align-self: center;
}
.home-head {
  margin: 30px 0 10px;
  text-align: center;
  position: relative;
}
.home-head div {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  font-size: 22px;
}
.home-search {
  position: relative;
  height: 30px;
  padding: 10px 5px;
  background-color: rgb(237, 237, 237);
}
.home-search::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(213, 213, 213);
  transform: scaleY(0.5);
}
.home-search input {
  display: block;
  width: 100%;
  height: 100%;
  background: none;
  outline: none;
  padding: 0;
  border: 0;
  background-color: white;
  border-radius: 5px;
}
.home-search input:focus {
  position: relative;
  z-index: 100;
}
.home-search .icon-sousuo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: rgb(183, 183, 183);
  line-height: 30px;
}
.home-search .icon-sousuo::before {
  font-size: 14px;
  margin-right: 8px;
}
.pcwechat {
  height: 50px;
  color: rgb(143, 143, 143);
  display: flex;
  align-items: center;
  font-size: 14px;
  position: relative;
}
.pcwechat::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(213, 213, 213);
  transform: scaleY(0.5);
}
.icon-diannao::before {
  font-size: 22px;
}
.pcwechat span:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
}
.list-item-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  /* border-bottom: 1px solid rgb(213, 213, 213); */
}
.list-item-content::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: rgb(213, 213, 213);
  transform: scaleY(0.5);
}
.tab {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(244, 244, 244);
  border-top: 1px solid rgb(212, 212, 212);
}
.tab-hide {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
}
.tab-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
.tab-item > div {
  transform: scale(0.9);
}
.tab-item > span::before {
  font-size: 28px;
}
.tab-item .icon-yuandian::before {
  font-size: 30px;
}
.icon-user-group::before {
  font-weight: 300;
}
.tab-item .icon-yuandian {
  transform: translateX(40%) translateY(-40%);
}
.icon-faxian1 {
  position: relative;
}
.icon-faxian1-fill {
  position: relative;
}
.active {
  color: rgb(87, 190, 106);
}

.chat-head {
  margin: 30px 0 10px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.message {
  margin: 10px 0;
  display: flex;
  align-items: flex-start;
}
.message-avatar {
  display: inline-block;
  width: 30px;
  margin: 0 10px;
  border-radius: 3px;
}
.message-words {
  padding: 5px 10px;
  background-color: white;
  border-radius: 3px;
  max-width: calc(100vw - 120px);
  position: relative;
}
.group-content {
  border-top: 1px solid rgb(213, 213, 213);
}
.group {
  position: absolute;
  background-color: rgb(237, 237, 237);
  width: 100%;
  height: 100%;
  z-index: 100;
}
input {
  background: none;
  outline: none;
  border: none;
  height: 60%;
  background-color: white;
  border-radius: 5px;
  flex: 1;
}
.input {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: rgb(246, 246, 246);
  position: absolute;
  bottom: 0;
  width: 100%;
}
.input > * {
  margin-right: 10px;
}
.input div:first-child {
  margin-left: 10px;
}

.information {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgb(237, 237, 237);
  z-index: 100;
}
.information-head {
  display: flex;
  height: 50px;
  padding-left: 10px;
  padding-top: 13px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.introduction {
  padding: 20px 0;
  display: flex;
  background-color: white;
  margin-bottom: 10px;
}
.introduction img {
  width: 50px;
  border-radius: 5px;
  margin: 0 20px;
  align-self: center;
}
.introduction-self {
  display: inline-flex;
  flex-direction: column;
}
.introduction-self span {
  color: rgb(156, 156, 156);
  font-size: 12px;
}
.friends {
  padding: 0 15px;
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 10px;
}
.detail-contact {
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(93, 108, 147);
}
.detail-contact span:first-child {
  margin-right: 5px;
}

.contact {
  position: absolute;
  background-color: rgb(237, 237, 237);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contact-head {
  padding: 30px 0 10px;
  text-align: center;
  position: relative;
}
.contact-head span {
  position: absolute;
  font-size: 20px;
  right: 10px;
  top: 31px;
  
}
.contact-head-border {
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: scaleY(0.5);
  background-color: rgb(220, 220, 220);
}
.contact-content {
  background-color: white;
  flex: 1;
  overflow: scroll;
}
.contact-search {
  position: relative;
  height: 30px;
  padding: 10px 5px;
  background-color: rgb(237, 237, 237);
}
.contact-search::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(213, 213, 213);
  transform: scaleY(0.5);
}
.contact-search input {
  display: block;
  width: 100%;
  height: 100%;
  background: none;
  outline: none;
  padding: 0;
  border: 0;
  background-color: white;
  border-radius: 5px;
}
.contact-search input:focus {
  position: relative;
  z-index: 100;
}
.contact-search .icon-sousuo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: rgb(183, 183, 183);
  line-height: 30px;
}
.contact-search .icon-sousuo::before {
  font-size: 14px;
  margin-right: 8px;
}
.contact-list-item {
  height: 40px;
  display: flex;
}
.contact-list-item img {
  width: 30px;
  margin: 0 10px;
  border-radius: 3px;
  align-self: center;
}
.contact-list-item-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  position: relative;
}
.contact-list-item-content::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: rgb(213, 213, 213);
  transform: scaleY(0.5);
}
div[class$="group"]
  > .contact-list-item:last-child
  .contact-list-item-content::after {
  display: none;
}
.group-title {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  color: rgb(113, 113, 113);
  font-size: 12px;
  position: sticky;
  top: 0;
  background-color: rgb(237, 237, 237);
}
.contact-all-items {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  position: relative;
  color: rgb(113, 113, 113);
  background-color: white;
}
.contact-all-items::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 1px;
  background-color: rgb(213, 213, 213);
  transform: scaleY(0.5);
}
.nav {
  position: fixed;
  z-index: 999;
  right: 3px;
  font-size: 12px;
  top: 50%;
  text-align: center;
  transform: translateY(-50%) scale(0.8);
}
.nav div {
  margin-bottom: 3px;
}
.nav .iconfont {
  transform: scale(0.6);
}
.find {
  position: absolute;
  background-color: rgb(237, 237, 237);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.find-head {
  margin: 30px 0 10px;
  text-align: center;
  position: relative;
}
.find-content {
  flex: 1;
}
.find-list-item {
  height: 50px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  background-color: white;
  margin-bottom: 10px;
}
.find-list-item-name {
  flex: 1;
  font-size: 18px;
}
.friends-icon {
  margin-right: 10px;
}
.icon-yuandian {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(50%) translateY(-50%);
}
.icon-yuandian::before {
  font-size: 26px;
  color: rgb(231, 93, 88);
}
.friends-avatar {
  position: relative;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  background: no-repeat url('../assets/img/a头像.png') center/30px;
  border-radius: 3px;
}
.icon-faxian {
  position: relative;
}
.icon-faxian-fill {
  position: relative;
}
.myprofile {
  position: absolute;
  background-color: rgb(237, 237, 237);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.myprofile-head {
  padding: 60px 0 30px;
  background-color: white;
  display: flex;
}
.myprofile-head > img {
  width: 50px;
  border-radius: 5px;
  margin: 0 20px;
  align-self: flex-start;
}
.myprofile-information {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
.wechat-name {
  font-size: 20px;
}
.wechat-id {
  display: flex;
  align-items: center;
  color: rgb(156, 156, 156);
}
.wechat-id-first {
  flex: 1;
}
.wechat-id-midl {
  margin-right: 20px;
}
.wechat-id-last {
  margin-right: 10px;
}
.state {
  margin-top: 5px;
  display: flex;
}
.state > span {
  display: inline-block;
  padding: 3px 10px 0 5px;
  font-size: 14px;
  color: rgb(156, 156, 156);
  position: relative;
  vertical-align: top;
  margin-right: 10px;
}
.state > span img {
  vertical-align: middle;
}
.state span::after {
  content: "";
  top: -50%;
  bottom: -50%;
  left: -50%;
  right: -50%;
  width: 200%;
  height: 200%;
  position: absolute;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 24px;
  transform: scale(0.5);
}
.myprofile-content {
  flex: 1;
}
.my-list-item {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: white;
}
.my-list-item-right {
  display: flex;
  flex: 1;
  align-self: stretch;
  align-items: center;
  padding-right: 10px;
  position: relative;
}
.my-list-item-name {
  flex: 1;
  font-size: 18px;
}
.my-icon {
  margin: 0 15px;
}
.my-function1 {
  margin: 10px 0;
}
.my-function2 .my-list-item-right::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgb(241, 241, 241);
  transform: scaleY(0.5);
}
.my-function2 .my-list-item:last-child .my-list-item-right::after {
  display: none;
}
.my-function3 {
  margin: 10px 0;
}
.icon-ico::before {
  font-size: 18px;
  color: rgb(156, 156, 156);
}
.icon-arrowr::before {
  font-size: 18px;
  color: rgb(167, 167, 167);
}
.icon-jinru::before {
  font-size: 14px;
  color: rgb(167, 167, 167);
}
.icon-plus::before {
  margin-right: 5px;
  font-size: 12px;
}